h1 {
    text-align: center;
    margin-right:250px;
}

h2 {
    text-align: center;
    margin-right: 250px;
}

.container-fluid{
    background: rgb(5,128,66);
}

.container{
    background: yellow;
}

.logo{
    float:left; 
    margin-right:-250px;
}

