h1 {
    font-size: 300px;
    text-align: center;
    margin-right:250px;
}

h2 {
    text-align: center;
    margin-right: 250px;
}

div.header{
    background: rgb(5,128,66);
}

.container{
    background: yellow;
}

.logo{
    float:left; 
    margin-right:-250px;
}

.contenedor{
    height: auto;
    /*width: 80%;*/
    margin: 2%;
    
}

textarea {
  resize: none;
}
.foto{
  display: flex;
  justify-content: center;
    
}