h1 {
    font-size: 300px;
    text-align: center;
    margin-right:250px;
}

h2 {
    font-size: 50px;
    text-align: center;
    margin-right: 250px;
}

div.header{
    background: rgb(5, 128, 66);
}


.logo{
    float:left; 
    margin-right:10px;
}

.contenedor{
    height: auto;
    margin: 2%;
}

textarea {
    resize: none;
}

.foto{
    display: flex;
    justify-content: center; 
}

.centrado{
    justify-content: center; 
}

.frame {
    width: 300px;
    height: 250px;
    border: 3px solid rgb(5, 128, 66);
    background: #eee;
    margin: auto;
    padding: 15px 10px;
    display: flex;
    justify-content: center; 
  }


